export(cv)
export(lm_summary)
export(cor_test)

export(simple_linear_regression)
export(graph)
export(covariance)
export(simple_linear)
export(x_intercept)
export(multivariate)
export(predict)
export(residuals)
export(multiple_regression)
export(poisson)
export(identical)
export(independent)
export(nonparametric)
export(help)
export(final_codes)